<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout - REad & GroW</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.0/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.0/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <script src="/js/user/checkout.js"></script>
</head>

<body class="bg-gray-100">
    <!-- Navbar -->
    <%- include("../partials/user/navBar.ejs") %>

        <!-- Main Container -->
        <div class="container mx-auto px-4 py-8 max-w-7xl">
            <div class="flex flex-col md:flex-row gap-8">
                <div class="bg-white p-6 rounded-lg shadow-sm flex-1">
                    <h2 class="text-xl font-bold mb-6">Checkout</h2>

                    <!-- Checkout Form -->
                    <form id="checkoutForm" >
                        <!-- Delivery Section -->
                        <div class="mb-6">
                            <h3 class="text-lg font-medium mb-3 flex items-center">Delivery</h3>

                            <!-- Existing Address -->
                            <% if(address.length==0) {%>
                                <div class="text-center font-bold">No address </div>
                                <% } %>
                                    <div id="addressContainer">
                                        <% address.forEach(address=> { %>
                                            <div
                                                class="bg-gray-200 w-full p-4 rounded-lg shadow-sm border border-gray-200 flex justify-between items-start mb-4">
                                                <div class="w-full">
                                                    <div>
                                                        <p class="font-medium">
                                                            <%= address.firstName %>, <%= address.lastName %> (<%=
                                                                address.addressType %>)
                                                                <% if (address.isDefault) { %> <span
                                                                    class="text-green-600 text-sm">[Default]</span>
                                                                <% } %>
                                                        </p>
                                                        <p class="text-gray-600">
                                                            <%= address.street %>
                                                        </p>
                                                        <p class="text-gray-600">
                                                            <%= address.city %>
                                                        </p>
                                                        <p class="text-gray-600">
                                                            <%= address.state %>
                                                        </p>
                                                        <p class="text-gray-600">Phone: <%= address.phoneNumber %>
                                                        </p>
                                                        <p class="text-gray-600zip-data">
                                                          pincode :  <%= address.pincode    %>
                                                        </p>
                                                    </div>
                                                    <!-- Radio button for address selection -->
                                                    <div class="mt-2">
                                                        <label class="flex items-center space-x-2 cursor-pointer">
                                                            <input type="checkbox"
                                                                class="selectAddress h-4 w-4 text-green-600 border-gray-300 rounded focus:ring-green-500"
                                                                data-address-id="<%= address._id %>"
                                                                <%= address.isSelected ? 'checked' : '' || '' %>>
                                                            <span class="text-sm text-gray-700">Select address</span>
                                                        </label>
                                                    </div>
                                                    <!-- Hidden input to store default address -->
                                                    <div class="mt-2">
                                                        <label class="flex items-center space-x-2 cursor-pointer">
                                                            <input type="checkbox"
                                                                class="setDefaultCheckbox h-4 w-4 text-green-600 border-gray-300 rounded focus:ring-green-500"
                                                                data-address-id="<%= address._id %>"
                                                                <%=address.isDefault ? 'checked' : '' %>>
                                                            <span class="text-sm text-gray-700">Set as Default</span>
                                                        </label>
                                                        <input type="hidden" name="defaultAddress" id="defaultAddress"
                                                            value="<%= address.isDefault ? address._id : '' %>">
                                                    </div>
                                                </div>
                                                <div class="flex space-x-2 items-start">
                                                    <button type="button"
                                                        class="editAddressBtn text-gray-600 hover:text-gray-900"
                                                        data-address-id="<%= address._id %>">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                                            viewBox="0 -960 960 960" width="24px" fill="#4f4f4f">
                                                            <path
                                                                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z" />
                                                        </svg>
                                                    </button>
                                                    <button type="button" class="deleteAddressBtn"
                                                        data-address-id="<%= address._id %>">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                                            viewBox="0 -960 960 960" width="24px" fill="#4f4f4f">
                                                            <path
                                                                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                            <% }) %>
                                    </div>

                                    <!-- Add New Address Button -->
                                    <div class="text-side mb-4">
                                        <button type="button" id="addAddressBtn"
                                            class="bg-gray-300 hover:bg-gray-600 text-white py-2 px-6 rounded-lg flex items-center justify-center mx-auto transition-colors">
                                            <span class="mr-1">+</span> Add New Address
                                        </button>
                                    </div>
                        </div>

                        <!-- Payment Method Section -->
                        <div class="mb-6">
                            <h3 class="text-lg font-medium mb-3 flex items-center">Payment Method</h3>
                            <div class="flex space-x-4">
                                <label
                                    class="border border-gray-300 rounded-md p-3 w-16 h-10 flex items-center justify-center bg-white cursor-pointer hover:border-blue-500 payment-option">
                                    <input type="radio" name="paymentMethod" value="PayPal" class="sr-only" required>
                                    <span class="font-bold text-purple-800">P</span>
                                </label>
                                <label
                                    class="border border-gray-300 rounded-md p-3 w-16 h-10 flex items-center justify-center bg-white cursor-pointer hover:border-blue-500 payment-option">
                                    <input type="radio" name="paymentMethod" value="CreditCard" class="sr-only"
                                        required>
                                    <div class="flex space-x-1">
                                        <div class="w-3 h-3 bg-red-500 rounded-full"></div>
                                        <div class="w-3 h-3 bg-yellow-500 rounded-full"></div>
                                        <div class="w-3 h-3 bg-blue-500 rounded-full"></div>
                                    </div>
                                </label>
                                <label
                                    class="border border-gray-300 rounded-md p-3 w-16 h-10 flex items-center justify-center bg-white cursor-pointer hover:border-blue-500 payment-option">
                                    <input type="radio" name="paymentMethod" value="UPI" class="sr-only" required>
                                    <span class="font-bold text-sm" id="UPI">UPI</span>
                                </label>
                                <label
                                    class="border border-gray-300 rounded-md p-3 w-16 h-10 flex items-center justify-center bg-white cursor-pointer hover:border-blue-500 payment-option">
                                    <input type="radio" name="paymentMethod" value="COD" class="sr-only" required>
                                    <span class="font-bold text-sm" id="COD">COD</span>
                                </label>
                            </div>
                        </div>

                        <div class="mt-8 text-center sm:text-left">
                            <button type="submit" id="confirmOrderBtn"
                                class="bg-black text-white py-2 px-6 rounded-md hover:bg-gray-800 transition-colors">
                                Confirm Order</button>
                        </div>
                    </form>
            </div>
                    <!-- Right Side - Order Summary -->
                    <div class="bg-white p-6 rounded-lg shadow-sm w-full md:w-96">
                        <!-- <div class="flex items-center mb-6">
                    <div class="text-red-500 mr-2"><i class="fas fa-tags"></i></div>
                    <span class="text-red-500 font-medium">Coupon Available</span>
                </div> -->

                        <!-- Product List with -->
                        <div class="space-y-4 mb-6">
                            <% checkoutProducts.forEach(product=>{ %>
                                <div class="flex items-center justify-between border-b pb-3">
                                    <% const cartItem=userCart.items.find(p=>p.productId.toString() ==
                                        product._id.toString()) %>
                                        <div class="flex items-center">
                                            <div class="w-16 h-20 mr-3 overflow-hidden rounded-md">
                                                <img src="<%= product.images[0] %>" alt="Product image"
                                                    class="w-full h-full object-cover">
                                            </div>
                                            <div>
                                                <p class="font-small">
                                                    <%= product.name %>
                                                </p>
                                                <p class="text-sm text-gray-500">Qty: <span id="quantity">
                                                        <%= cartItem ? cartItem.quantity : 0 %>
                                                    </span></p>
                                                <p class="text-red-500">Rs. <%= product.price %>
                                                </p>
                                            </div>
                                        </div>
                                </div>
                                <% }) %>
                        </div>

                        <!-- Coupon Code Input -->
                        <!-- <div class="flex items-center mb-6">
                    <input type="text" placeholder="Discount coupon code" class="w-full border border-gray-300 rounded-l-md p-2 text-sm focus:outline-none">
                    <button class="bg-gray-700 text-white rounded-r-md px-4 py-2 text-sm hover:bg-black">Apply</button>
                </div> -->

                        <!-- Order Summary -->
                        <div class="space-y-2 border-t pt-3 border-gray-200">
                            <div class="flex justify-between text-sm">
                                <span>Subtotal</span>
                                <span>Rs. <% checkoutProducts.forEach(p=>p.price) %></span>
                            </div>
                            <!-- <div class="flex justify-between text-sm">
                        <span>Shipping</span>
                        <span></span>
                    </div> -->

                            <!-- <div class="flex justify-between text-sm text-red-500">
                        <span>Discount</span>
                        <span></span>
                    </div> -->

                        </div>

                        <!-- Total -->
                        <div class="flex justify-between items-center pt-4 border-t border-gray-200 mt-4">
                            <h3 class="text-lg font-bold">Total</h3>
                            <span class="text-xl font-bold text-red-500">Rs. <%= checkoutTotal.toFixed(2) %></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Add Address Modal -->
            <div id="addAddressModal"
                class="fixed inset-0 bg-gray-600 bg-opacity-50 hidden overflow-y-auto h-full w-full z-50">
                <div class="relative top-20 mx-auto p-5 border w-full max-w-md shadow-lg rounded-md bg-white">
                    <div class="mt-3">
                        <h3 class="text-lg font-medium mb-4">Add New Delivery Address</h3>
                        <form id="addAddressForm" class="space-y-4">
                            <div class="flex gap-4">
                                <span id="userId" hidden>
                                    <%= user.id %>
                                </span>
                                <input type="text" name="firstName" placeholder="First name"
                                    class="w-1/2 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <input type="text" name="lastName" placeholder="Last name"
                                    class="w-1/2 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>
                            <select name="addressType" required
                                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-500">
                                <option value="" disabled selected>Select Address Type</option>
                                <option value="home">Home</option>
                                <option value="work">Work</option>
                            </select>
                            <div class="flex gap-4">
                                <input type="text" name="city" placeholder="City/District/Town"
                                    class="w-1/2 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <input type="text" name="state" placeholder="State"
                                    class="w-1/2 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>
                            <input type="text" name="street" placeholder="Street"
                                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <div class="flex gap-4">
                                <input type="text" name="phone" placeholder="Phone number"
                                    class="w-1/2 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <input type="text" name="zip" placeholder="Pincode"
                                    class="w-1/2 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>
                            <div class="flex justify-between mt-4">
                                <button type="button" id="cancelAddBtn"
                                    class="bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 px-4 rounded">Cancel</button>
                                <button type="submit" id="saveAddBtn"
                                    class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded">Save
                                    Address</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Edit Address Modal -->
            <div id="editAddressModal"
                class="fixed inset-0 bg-gray-600 bg-opacity-50 hidden overflow-y-auto h-full w-full z-50">
                <div class="relative top-20 mx-auto p-5 border w-full max-w-md shadow-lg rounded-md bg-white">
                    <div class="mt-3">
                        <h3 class="text-lg font-medium mb-4">Edit Delivery Address</h3>
                        <form id="editAddressForm" class="space-y-4">
                            <div class="flex gap-4">
                                <span id="userId" hidden>
                                    <%= user.id %>
                                </span>
                                <span id="addressId" hidden>
                                    <%= address._id %>
                                </span>
                                <input type="text" value="<%= address.firstName %>" name="firstName"
                                    placeholder="First name"
                                    class="w-1/2 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <input type="text" value="<%= address.lastName %>" name="lastName"
                                    placeholder="Last name"
                                    class="w-1/2 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>
                            <select name="addressType" required
                                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-500">
                                <option value="" disabled>Select Address Type</option>
                                <option value="home">Home</option>
                                <option value="work">Work</option>
                            </select>
                            <div class="flex gap-4">
                                <input type="text" value="<%= address.city %>" name="city"
                                    placeholder="City/District/Town"
                                    class="w-1/2 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <input type="text" value="<%= address.state %>" name="state" placeholder="State"
                                    class="w-1/2 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>
                            <input type="text" value="<%= address.street %>" name="street" placeholder="Street"
                                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <div class="flex gap-4">
                                <input type="text" value="<%= address.phoneNumber %>" name="phone"
                                    placeholder="Phone number"
                                    class="w-1/2 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <input type="text" value="<%= address[0]?.pincode || address?.pincode %>" name="zip" placeholder="Pincode"
                                    class="w-1/2 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>
                            <div class="flex justify-between mt-4">
                                <button type="button" id="cancelEditBtn"
                                    class="bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 px-4 rounded">Cancel</button>
                                <button type="submit" id="saveEditBtn"
                                    class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded">Save
                                    Address</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!-- Footer -->
            <%- include("../partials/user/footer.ejs") %>

                <script>
                    document.addEventListener('DOMContentLoaded', () => {
                        const addAddressBtn = document.getElementById('addAddressBtn');
                        const editAddressModal = document.getElementById('editAddressModal');
                        const addAddressModal = document.getElementById('addAddressModal');
                        const cancelAddBtn = document.getElementById('cancelAddBtn');
                        const cancelEditBtn = document.getElementById('cancelEditBtn');


                        addAddressBtn?.addEventListener('click', () => {
                            addAddressModal.classList.remove('hidden');
                        });


                        document.querySelectorAll("#editAddressBtn").forEach(button => {
                            button.addEventListener("click", () => {
                                editAddressModal.classList.remove("hidden");
                            });
                        });


                        cancelAddBtn?.addEventListener("click", () => {
                            addAddressModal.classList.add("hidden");
                        });

                        cancelEditBtn?.addEventListener("click", () => {
                            console.log("Cancel Edit button clicked!");
                            editAddressModal.classList.add("hidden");
                        });


                        window.addEventListener('click', (e) => {
                            if (e.target === addAddressModal) addAddressModal.classList.add('hidden');
                            if (e.target === editAddressModal) editAddressModal.classList.add('hidden');
                        });
                    });

                </script>
</body>

</html>